$color-background: #FFFDF3;
$color-dark-yellow: #FFEAD0;
$color-green: #93BB5A;
$color-black: #434446;
$color-purple: #BF5C78;
$color-light-beidge: #FEE0BC;
$color-dark-beidge: #FBCFB6;
$color-orange: #FEAD92;